<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aluguel de Livros</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Alugue seu livro</h1>
    </header>
    <main id="alugaLivros">
      <h2>Alugar</h2>
      <form action="" method="get">
        <label for="nome">Nome:</label><br />
        <input
          type="text"
          name="nome"
          placeholder="Nome Completo"
          class="campo_dados"
          size="40"
        /><br />
        <label for="endereco">Endereço:</label><br />
        <input
          type="text"
          name="endereco"
          placeholder="Rua, Bairro, N°"
          class="campo_dados"
          size="40"
        /><br />
        <label for="contato" id="contato">Contato:</label>
        <label for="livro">Livro:</label><br />
        <input
          type="tel"
          name="contato"
          placeholder="(DDD) 99999-9999"
          size="15"
        />
        <select name="livro" id="livros" class="campo_dados">
          {% for book in books %}
            <option value="">{{book.titulo}}</option>
          {% endfor %}
        </select><br />
        <label for="data" id="data">Data:</label>
        <label for="data_devolucao">Data da Devolução:</label><br />
        <input type="date" name="data" id="campo_data" />
        <input
          type="date"
          name="data"
          class="campo_dados"
          id="campoDataDevolucao"
        /><br />
        <div class="btns">
          <button type="submit" class="btn">Alugar</button>
          <a href="/">
            <button type="button" class="btn">Voltar</button>
          </a>
        </div>
      </form>
    </main>
    <footer>
      <p>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/lucas-vieira-dev/" target="_blank"
          >Lucas Vieira</a
        >
      </p>
    </footer>
  </body>
</html>
