<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca da Comunidade</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Biblioteca da Comunidade</h1>
      <p>Leitura para todos</p>
    </header>
    <nav>
      <ul>
        <a href="/rentbook"><li>Alugar livro</li></a>
        <a href="/addbook"><li>Cadastrar livro</li></a>
      </ul>
    </nav>
    <footer>
      <p>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/lucas-vieira-dev/" target="_blank"
          >Lucas Vieira</a
        >
      </p>
    </footer>
  </body>
</html>
