<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Livros</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/register_books.css"/>
  </head>
  <body>
    <header>
      <h1>Cadastro de Livros</h1>
      <p>Doe, estantes e livros</p>
    </header>
    <main class="register-books">
      {% if success_msg %}
        <div>
          <p>{{success_msg}}</p>
        </div>
      {% endif %}

      {% if error_msg %}
        <div>
          <p>{{error_msg}}</p>
        </div>
      {% endif %}
      <h2>Cadastro de Livros</h2>
      <form action="/newbook" method="post">
        <label for="titulo">Titulo:</label><br>
        <input type="text" name="titulo" class="campo_dados"><br>
        <label for="autor">Autor:</label><br>
        <input type="text" name="autor" class="campo_dados"><br>
        <label for="genero">Gênero:</label><br>
        <select name="genero" id="genero" class="campo_dados">
          <option value="acao">Ação</option>
          <option value="suspense">Suspense</option>
          <option value="romance">Romance</option>
          <option value="ficcao">Ficção</option>
          <option value="terror">Terror</option>
          <option value="fantasia">Fantasia</option>
          <option value="infantil">Infantil</option>
          <option value="contos">Contos</option>
        </select><br>
        <div class="btns">
          <button type="submit" class="btn">Cadastrar</button>
          <a href="/">
            <button type="button" class="btn">Voltar</button>
          </a>
        </div>
      </form>
    </main>
    <footer>
      <p>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/lucas-vieira-dev/" target="_blank"
          >Lucas Vieira</a
        >
      </p>
    </footer>
  </body>
</html>
