<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aluguel de Livros</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/rent_books.css" />
  </head>
  <body>
    <header>
      <h1>Alugue seu livro</h1>
    </header>
    <main class="rent-books">
      {% if success_msg != '' %}
        <div class="result-msg success-msg">{{success_msg}}</div>
      {% endif %}

      {% if error_msg != '' %}
        <div class="result-msg error-msg">{{error_msg}}</div>
      {% endif %}
      <h2>Alugar</h2>
      <form action="/rent" method="post">
        <label for="nome">Nome:</label><br />
        <input
          type="text"
          name="nome"
          placeholder="Nome Completo"
          class="campo_dados"
          size="40"
        /><br />
        <label for="endereco">Endereço:</label><br />
        <input
          type="text"
          name="endereco"
          placeholder="Rua, Bairro, N°"
          class="campo_dados"
          size="40"
        /><br />
        <label for="contato" id="contato">Contato:</label><br />
        <input type="tel" name="contato" class="campo_dados" placeholder="(DDD) 99999-9999" size="15"/><br />
        <label for="livro">Livro:</label><br />
        <select name="livro" id="livros" class="campo_dados">
          {% for book in books %}
            {% if book.rent == "Não alugado" %}
              <option value="{{book.id}}">{{book.titulo}}</option>
            {% endif %}
          {% endfor %}
        </select><br />
        <label for="rent_date" id="data">Data:</label><br />
        <input type="date" name="rent_date" id="campo_data" class="campo_dados" /><br />
        <label for="return_date">Data da Devolução:</label><br />
        <input type="date" name="return_date" class="campo_dados" id="campoDataDevolucao"/><br />
        <div class="btns">
          <button type="submit" class="btn">Alugar</button>
          <a href="/">
            <button type="button" class="btn">Voltar</button>
          </a>
        </div>
      </form>
    </main>
    <footer>
      <p>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/lucas-vieira-dev/" target="_blank"
          >Lucas Vieira</a
        >
      </p>
    </footer>
  </body>
</html>
